<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

    <p><%=@artilce_ini%>..<%=@article_fim%> total de <%=@articles_count%> artigos.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.id, article_path(article) %></td>
      <td><strong><%= article.title %></strong></td>
      <td><%= article.text %></td>
      <td>
        <%= link_to t('.show', :default => t("helpers.links.show")),
        article_path(article), :class => 'btn btn-primary btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_article_path,
:class => 'btn btn-primary' %>
<br><br>

<div class="end">
  <% if @page > 0%>
  <%= link_to t('prev'), articles_path(page: @page -1), class: 'btn btn-primary' %>
  <p></p>
  <%end%>
  <% if @page < @pages  %>
  <%= link_to t('next'), articles_path(page: @page +1), class: 'btn btn-primary'  %>
  <%end%><br>
</div>
<div class="end">
  <p> Página <%= (@page)+1%> de <%= (@pages)+1%> </p>
</div>
