<h1>New user</h1>

<%= form_for :user, url: users_path do |f|%>

<%= render "autentication", resource: @user %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </p>

  <p>
    <%= f.submit "Create user", class: "btn btn-primary"%>
  </p>
<% end %>
